body{
	background-image: url("https://specials-images.forbesimg.com/imageserve/5f53fbab099efa47007b0912/960x0.jpg?fit=scale");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    margin-top: 30px;
	border-width:10px;
	background-color: white; 
	border-style:ridge;
}

h1,h4
{
	color: white !important;
}